{% load static %}
<!--! Contact-left Start -->
<div class="api">
    <div class="telefon">
        <a href="tel:0500000000 " title="Telefon" alt="Telefon" class="nolink"><i class="fas fa-phone"></i></a>
        <span class="tooltiptext">Telefon</span>
    </div>

    <div class="whatsapp">
        <a href="https://api.whatsapp.com/send?phone=90500000000" target="_blank" class="nolink" title="WhatsApp"
            alt="WhatsApp"><i class="fab fa-whatsapp"></i></a>
        <span class="tooltiptext">WhatsApp Hemen Sipariş Ver</span>
    </div>
    <div class="instagram">
        <a href="https://www.instagram.com/" target="_blank" class="nolink" title="instagram" alt="instagram"><i
                class="fab fa-instagram"></i></a>
        <span class="tooltiptext">İnstagram</span>
    </div>
</div>

<!--! Contact-left End-->