{% load static %}



<!-- ******************************************************************************** -->


<!--!Scrool-Top Button -->
<button onclick="scrollToTop()" class="scroll-to-top" id="scrollBtn"><i class="fa-solid fa-arrow-up"></i></button>
<!--!Scrool-Top Button -->
<div class="topbar bg-black text-white ">
    <div class="container">
        <div
            class="d-flex justify-content-sm-center justify-content-md-between flex-column flex-md-row align-items-center">
            <div class="d-flex flex-md-row flex-column align-items-center topbar-left">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                </div>
                <div class="ms-1">
                    <a href="magazalar.html">Mağazalar</a>
                </div>
                <div class="ms-3">
                    <a href="kurumsal.html">Kurumsal</a>
                </div>

            </div>
            <div class="mx-auto">
                <p class="mx-auto" style="margin:0 !important;">Hergün Yepyeni İndirimler X Ayakkabı İle Seni
                    Bekliyor !</p>
            </div>
            <div class="d-flex">
                <div>
                    <i class="fa-solid fa-phone"></i>
                </div>
                <div class="ms-2">
                    <a href="tel:0232 000 00 00">0232 000 00 00</a>
                </div>
                <div class="ms-4">
                    <a href="siparis.html"><i class="fa-solid fa-question"></i></a>
                </div>
                <div class="ms-2">
                    <a href="siparis.html">Sipariş Takibi</a>
                </div>
            </div>
        </div>
    </div>

</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div>
            <a href="/">
                <h3 class="mt-1">X-Ayakkabı</h3>
            </a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav mx-auto text-uppercase mb-2 mb-lg-0 fs-5">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        Erkek
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="ürünler/erkek.html">Bot</a></li>
                        <li><a class="dropdown-item" href="erkek.html">Ayakkabı</a></li>
                        <li><a class="dropdown-item" href="erkek.html">Sneaker</a></li>
                        <li><a class="dropdown-item" href="erkek.html">Günlük Ayakkabı</a></li>
                        <li><a class="dropdown-item" href="erkek.html">Sandalet</a></li>
                        <li><a class="dropdown-item" href="erkek.html">Terlik</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        Kadın
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="ürünler/kadin.html">Bot</a></li>
                        <li><a class="dropdown-item" href="ürünler/kadin.html">Ayakkabı</a></li>
                        <li><a class="dropdown-item" href="ürünler/kadin.html">Sneaker</a></li>
                        <li><a class="dropdown-item" href="ürünler/kadin.html">Günlük Ayakkabı</a></li>
                        <li><a class="dropdown-item" href="ürünler/kadin.html">Sandalet</a></li>
                        <li><a class="dropdown-item" href="ürünler/kadin.html">Terlik</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        Çocuk
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="cocuk.html">Bot</a></li>
                        <li><a class="dropdown-item" href="cocuk.html">Ayakkabı</a></li>
                        <li><a class="dropdown-item" href="cocuk.html">Sneaker</a></li>
                        <li><a class="dropdown-item" href="cocuk.html">Günlük Ayakkabı</a></li>
                        <li><a class="dropdown-item" href="cocuk.html">Sandalet</a></li>
                        <li><a class="dropdown-item" href="cocuk.html">Terlik</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="aksesuar.html" role="button" data-bs-toggle="dropdown"
                        aria-expanded="true">
                        Aksesuar
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="canta.html">Çanta</a></li>
                        <li><a class="dropdown-item" href="aksesuar.html">Kemer</a></li>

                        <li><a class="dropdown-item" href="aksesuar.html">Takı</a></li>
                        <li><a class="dropdown-item" href="aksesuar.html">Tümünü Görüntüle</a></li>
                    </ul>
                </li>
            </ul>
            <div class="d-flex align-items-center justify-content-around">
                <div class="me-3">

                    <div class="modal fade" id="exampleModal">
                        <div class="modal-dialog modal-fullscreen">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="container">
                                        <div class="row justify-content-center">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="me-3 d-flex ">
                    <a href="giris.html"><i class="fas fa-user"></i></a>
                    <a href="giris.html">
                        <div class="ms-2 ">Giriş/Kaydol</div>
                    </a>
                </div>
                <div class="me-2 d-flex baskett">
                    <a href="sepet.html"><i class="fa-solid fa-bag-shopping"></i></a>
                    <a href="sepet.html">
                        <div class="ms-2 ">Sepetim</div>
                    </a>
                </div>



            </div>
        </div>
    </div>
</nav>
<!--! header end  -->